apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service
  labels:
    app: billing-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      labels:
        app: billing-service
    spec:
      containers:
        - name: billing-service
          image: koushik172/billing-service:build-6
          ports:
            - containerPort: 5503
          envFrom:
            - configMapRef:
                name: billing-service-config
            - secretRef:
                name: billing-service-secret

---

apiVersion: v1
kind: Service
metadata:
  name: billing-service
spec:
  selector:
    app: billing-service
  ports:
    - protocol: TCP
      port: 5503
      targetPort: 5503
